@{
    ViewBag.Title = "Заглавна страница";
}

<div class="jumbotron">
    <h1>Салон за красота "Нелита"</h1>
    <p class="lead">Заповядайте всеки ден от вторник до неделя. Очакваме Ви!</p>
    <img src="~/Content/images/EntranceCollage.jpg" class="fit-picture" alt="Салон за касота Нелита" />
</div>

@Html.Action("LatestNews", "News")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/toastr")

<script>
    $(document).ready(function () {
        var message = '@(TempData["message"])'

        if (message) {
            toastr['@(TempData["type"])'](message)
        }
        else { }
    });
</script>