@using NelitaBeautyStudio.Models
@using NelitaBeautyStudio.Common

@model News
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/toastr")

<div class="row">
    <article>
        <h2>@Model.Title</h2>
        <p>
            @Html.Raw(Model.Content)
        </p>
        <span>@Model.CreatedOn.ToString("dd.MM.yyyy г. HH:mm")</span>
    </article>
    @if (User.IsInRole(GlobalConstants.AdminRole))
    {
        @Html.ActionLink("Редактиране", "Edit", "News", new { id = Model.Id }, new { @class = "btn btn-warning btn-xs" })
        <br /><br />
        
        using (Html.BeginForm("Delete", "News", new { id = Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input type="submit" value="Изтриване" class="btn btn-danger btn-xs" onclick="confirmDelete()" />
        }
    }
</div>

<script src="~/Scripts/confirmDelete.js"></script>
<script>
    $(document).ready(function () {
        var message = '@(TempData["message"])'

        if (message) {
            toastr['@(TempData["type"])'](message)
        }
        else { }
    });
</script>