@using NelitaBeautyStudio.Web.ViewModels
@model ServiceViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактиране на услуга</h2>

@using (Html.BeginForm("Edit", "Service", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(s => s.Type, new { @class = "col-lg-2 control-label" })
        @Html.EditorFor(s => s.Type)
        @Html.ValidationMessageFor(s => s.Type, null, new { @class = "alert-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Price, new { @class = "col-lg-2 control-label" })
        @Html.EditorFor(s => s.Price)
        @Html.ValidationMessageFor(s => s.Price, null, new { @class = "alert-danger" })
    </div>

    <input type="submit" value="Редактирай" class="btn btn-warning">

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}