@using System;
@using NelitaBeautyStudio.Models
@using NelitaBeautyStudio.Common

@model PriceList
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@if (Model.Services.Count == 0)
{
    <h3>Няма въведени услуги в текущия ценоразпис!</h3>

    @Html.Partial("PriceListOptions.cshtml")
}
else
{
    <div class="row">
        <div class="col-md-7">
            <table class="table table-striped table-hover">
                <tbody>
                    @foreach (var service in Model.Services)
                    {
                        <tr>
                            <td>@service.Type</td>
                            <td>@string.Format("{0:N2} лв.", service.Price)</td>
                            @if (User.IsInRole(GlobalConstants.AdminRole))
                            {
                                <td>@Html.ActionLink("Редактиране", "Edit", "Service", new { id = service.Id }, new { @class = "btn btn-warning btn-xs" })</td>
                                <td>
                                    @using (Html.BeginForm("Delete", "Service", new { id = service.Id }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()

                                        <input type="submit" value="Изтриване" class="btn btn-danger btn-xs" onclick="confirmDelete()" />
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            @Html.Partial("PriceListOptions")
        </div>

        <div class="col-md-5">
            @{ 
                var rand = new Random();
                var randomInteriorPictureNumber = rand.Next(1, 7);
            }

            <img src="~/Content/images/@string.Format("interior-{0}.jpg", randomInteriorPictureNumber)" alt="Интериор" class="fit-picture" />
        </div>
    </div>
}



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/toastr")

<script>
    $(document).ready(function () {
        var message = '@(TempData["message"])'

        if (message) {
            toastr['@(TempData["type"])'](message)
        }
        else { }
    });
</script>