@using NelitaBeautyStudio.Web.ViewModels
@model PriceListViewModel
@{
    ViewBag.Title = "Редактиране на ценоразпис";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактиране</h2>

@using (Html.BeginForm("Edit", "PriceList", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(p => p.Title, new { @class = "col-lg-2 control-label" })
        @Html.EditorFor(p => p.Title)
        @Html.ValidationMessageFor(p => p.Title, null, new { @class = "alert-danger" })
    </div>
    
    <input type="submit" value="Редактирай" class="btn btn-warning">
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}