@using NelitaBeautyStudio.Models
@using NelitaBeautyStudio.Common
@model IEnumerable<PriceList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jqueryui
{
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
}

<h2>Ценоразписи</h2>

@if (Model.Count() == 0)
{
    <h3>Няма въведени ценоразписи!</h3>
}
else
{
    <div id="accordion">
        @foreach (var priceList in Model)
	    {
		    <h3>@priceList.Title</h3>
            <div>
                <p>
                    <table class="table table-striped table-hover">
                        <tbody>
                            @foreach (var service in priceList.Services)
                            {
                                <tr>
                                    <td>@service.Type</td>
                                    <td>@service.Price лв.</td>
                                    @if (User.IsInRole(GlobalConstants.AdminRole))
	                                {
		                                <td>@Html.ActionLink("Редактиране", "Edit", "Service", new { id = service.Id }, new { @class = "btn btn-warning btn-xs" })</td>
                                        <td>
                                            @using (Html.BeginForm("Delete", "Service", new { id = service.Id }, FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                
                                                <input type="submit" value="Изтриване" class="btn btn-danger btn-xs" onclick="confirmDelete()" />
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (User.IsInRole(GlobalConstants.AdminRole))
                    {
                        <ul>
                            <li>
                                @Html.ActionLink("Добави нова услуга", "Create", "Service", new { priceListTitle = priceList.Title }, new { @class = "btn btn-primary btn-xs" })
                            </li>
                            <li>
                                @Html.ActionLink("Смени заглавието на ценоразписа", "Edit", "PriceList", new { id = priceList.Id }, new { @class = "btn btn-warning btn-xs" })
                            </li>
                            <li>
                                @using (Html.BeginForm("Delete", "PriceList", new { id = priceList.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="submit" value="Изтриване на целия ценоразпис" class="btn btn-danger btn-xs" onclick="confirmDelete()" />
                                }
                            </li>
                        </ul>
                    }
                </p>
            </div>
        }
    </div>
    
    

    <script src="~/Scripts/confirmDelete.js"></script>
    <script>
        $("#accordion").accordion();
    </script>
}

@if (User.IsInRole(GlobalConstants.AdminRole))
{
    @Html.ActionLink("Нов ценоразпис", "Create", null, new { @class = "btn btn-primary" })
}